@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

.myfdl-button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  background: var(--button-bg-color);
  color: var(--button-color);
  
  margin: 0;
  padding: 0.5rem 1rem;
  
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  
  border: none;
  border-radius: 2px;
  
  display: inline-block;
  width: auto;
  
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  
  cursor: pointer;
  
  transition: 0.5s;
  
  --button-color: #ffffff;
  --button-bg-color: #0d6efd;
  --button-hover-bg-color: #025ce2;
  
}

.myfdl-button:active,
.myfdl-button:hover,
.myfdl-button:focus {
  background: var(--button-hover-bg-color);
  outline: 0;
}
.myfdl-button:disabled {
  opacity: 0.5;
}












