@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
input{
    border: 1px solid black;

}
select{
    border: 1px solid black;
}
button{
    border: 1px solid black;
}
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
p{
    font-family: 'Pretendard-Regular';
}
label{
    font-family: 'Pretendard-Regular';
}
p#story{
	font-family: 'ONE-Mobile-Regular';
}